openapi: 3.0.3
info:
  description: API for managing products and orders in a retail domain
  title: Retail Product & Order Service API
  version: 1.0.0
servers:
- url: https://api.retail.com/api/v1
paths:
  /products:
    get:
      parameters:
      - explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: priceMin
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: priceMax
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Product"
                type: array
          description: List of products
      summary: Get all products
      x-accepts: application/json
  /products/{productId}:
    get:
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
          description: Product details
        "404":
          description: Product not found
      summary: Get product by ID
      x-accepts: application/json
  /orders:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: Order created
      summary: Create order
      x-content-type: application/json
      x-accepts: application/json
  /orders/{orderId}:
    get:
      parameters:
      - explode: false
        in: path
        name: orderId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: Order details
        "404":
          description: Order not found
      summary: Get order details
      x-accepts: application/json
  /orders/{orderId}/status:
    put:
      parameters:
      - explode: false
        in: path
        name: orderId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrderStatusRequest"
        required: true
      responses:
        "200":
          description: Order status updated
      summary: Update order status
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    Product:
      example:
        productId: productId
        price: 0.8008281904610115
        name: name
        description: description
        stock: 6
      properties:
        productId:
          type: string
        name:
          type: string
        description:
          type: string
        price:
          type: number
        stock:
          type: integer
      type: object
    Order:
      example:
        totalAmount: 6.027456183070403
        orderId: orderId
        customerId: customerId
        items:
        - quantity: 0
          productId: productId
        - quantity: 0
          productId: productId
        status: CREATED
      properties:
        orderId:
          type: string
        customerId:
          type: string
        items:
          items:
            $ref: "#/components/schemas/OrderItem"
          type: array
        totalAmount:
          type: number
        status:
          enum:
          - CREATED
          - SHIPPED
          - DELIVERED
          type: string
      type: object
    OrderItem:
      example:
        quantity: 0
        productId: productId
      properties:
        productId:
          type: string
        quantity:
          type: integer
      type: object
    CreateOrderRequest:
      example:
        customerId: customerId
        items:
        - quantity: 0
          productId: productId
        - quantity: 0
          productId: productId
      properties:
        customerId:
          type: string
        items:
          items:
            $ref: "#/components/schemas/OrderItem"
          type: array
      required:
      - customerId
      - items
      type: object
    UpdateOrderStatusRequest:
      example:
        status: CREATED
      properties:
        status:
          enum:
          - CREATED
          - SHIPPED
          - DELIVERED
          type: string
      type: object
