openapi: 3.0.3
info:
  description: API for managing patient records and appointments
  title: Healthcare Patient Service API
  version: 1.0.0
servers:
- url: https://api.healthcare.com/api/v1
paths:
  /patients:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Patient"
        required: true
      responses:
        "201":
          description: Patient created
      summary: Create patient
      x-content-type: application/json
      x-accepts: application/json
  /patients/{patientId}:
    get:
      parameters:
      - explode: false
        in: path
        name: patientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patient"
          description: Patient details
      summary: Get patient details
      x-accepts: application/json
  /appointments:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Appointment"
        required: true
      responses:
        "201":
          description: Appointment created
      summary: Create appointment
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    Patient:
      example:
        gender: gender
        patientId: patientId
        name: name
        age: 0
      properties:
        patientId:
          type: string
        name:
          type: string
        age:
          type: integer
        gender:
          type: string
      type: object
    Appointment:
      example:
        date: 2000-01-23
        doctorName: doctorName
        patientId: patientId
        appointmentId: appointmentId
      properties:
        appointmentId:
          type: string
        patientId:
          type: string
        doctorName:
          type: string
        date:
          format: date
          type: string
      type: object
